pkgbase = omarchy-metronome-bin
	pkgdesc = A metronome for Omarchy that follows the live theme (prebuilt binary)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/DouglasdeMoura/omarchy-metronome
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = quickshell
	depends = alsa-lib
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	optdepends = ttf-jetbrains-mono-nerd: the default interface font
	provides = omarchy-metronome
	conflicts = omarchy-metronome
	source_x86_64 = https://github.com/DouglasdeMoura/omarchy-metronome/releases/download/v0.1.0/omarchy-metronome-0.1.0-x86_64-linux.tar.gz
	sha256sums_x86_64 = SKIP
	source_aarch64 = https://github.com/DouglasdeMoura/omarchy-metronome/releases/download/v0.1.0/omarchy-metronome-0.1.0-aarch64-linux.tar.gz
	sha256sums_aarch64 = SKIP

pkgname = omarchy-metronome-bin
